.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
  }
  
  .baloon {
    position: absolute;
    z-index: 4;
    bottom: 120px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 5;
    bottom: 200px;
    left: 30px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 3;
  }