div:hover {
    border: 2px solid green;
}

#primaria {
    background-color: aquamarine;
}

#secundaria {
    background-color: blueviolet;
}

#complementar {
    background-color: blue;
}

.maior {
    padding: 10px;
}

#escura {
    background-color: brown;
}

#clara {
    background-color: blanchedalmond;
}

h3 {
    color: chocolate;
}
